// See ../README.md for how to configure this application.


// Email for Firestore. Optional.
export const EMAIL = '';

// Firebase config. Optional.
export const FIREBASE = {
  apiKey: "",
  authDomain: "",
  projectId: "",
  storageBucket: "",
  messagingSenderId: "",
  appId: "",
};

// Some prepared answers.
export const PRESETS = [
  'Shallow to the bottom.',
  'I didn\'t get that, can you repeat it?',
  'Hmm, let me recompute.',
  'Ask a search engine, not a philosopher',
  'Mundane at best.',
];